<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531527917036-o5an39qgscg73ijt6d5e5pb8h30vcu6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531527917036-o5an39qgscg73ijt6d5e5pb8h30vcu6r</string>
	<key>API_KEY</key>
	<string>AIzaSyALKgG4NNUmE7bHed_a544Y4gl8lHVi9MQ</string>
	<key>GCM_SENDER_ID</key>
	<string>531527917036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dhakalivenewsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>dhakalivenewsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531527917036:ios:2a7754e38af64c5e9a34c9</string>
</dict>
</plist>